body {
  background: #262626;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.card {
  background: #bfbfbf;
  color: #262626;
}
a.social {
  opacity: .8;
}
